.ProseMirror {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.ProseMirror a {
  color: #2563eb; /* Tailwind blue-600 */
  text-decoration: underline;
}

/* Only apply to tables inside the Tiptap editor */
.ProseMirror table {
  border-collapse: collapse;
  width: 100%;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid white;
  padding: 4px;
}

.ProseMirror .selectedCell {
  background-color: rgba(255, 255, 255, 0.05);
}
